body
	{
		background-color: lightgrey;
	}

a:link, a:visited
	{
		background-color: purple;
		color:white;
		text-decoration: none;
		padding: 10px;
		text-align: center;
		display: inline-block;
		font-family: verdana;
	}


a:hover
	{
		color:red;
		background-color: pink;
		text-decoration: underline;
	}

a:active
	{
		color: green;
		background-color: pink;
		text-decoration: underline;
	}
table, th, td
    {
    	border: 1px solid black;
    	border-collapse: collapse;
    }

th, td
    {
    	padding: 15px;
    }

td, th
    {
    	text-align: center;
    }

tr:nth-child(even)
	{
		background-color: #ffb6c1;
	}

tr:nth-child(odd)
	{
		background-color: #ffc0cb;
	}
th
	{
		background-color: #c71585;
	}

tr:hover
	{
		background-color: #ffe4e1;
	}

p
	{
		font-family: 'Great Vibes', cursive;
	}